.main__nav {
    display: none;
    background-color: var(--grey-04);
    position: relative;
    z-index: 200;
}

.main__nav a {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav__list {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: var(--container-width);
    position: relative;
    list-style: none;
    padding: 0rem;
    left: -1rem;
    margin: 0 auto;
    width: 66.6666666667%;
}

.nav__list>li>a:hover {
    background-color: var(--grey-03);
}

.nav__list>li>a.active .material-symbols-outlined {
    transition: transform .15s ease-in-out, color .15s ease-in-out;
}

.nav__list>li>a.active .material-symbols-outlined {
    transform: rotate(270deg);
}

.nav__list>li>a.active {
    box-shadow: inset 0 -4px 0 var(--grey-01);
}

.nav__list a:visited {
    color: #000;
}

.nav__list>li>a .material-symbols-outlined {
    margin-left: .375rem;
    transition: transform .15s ease-in-out, color .15s ease-in-out;
}

.nav__list>li>a .material-symbols-outlined {
    transform: rotate(90deg);
}

.nav__list a {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav__sub {
    display: none;
    position: absolute;
    top: 3.5rem;
    box-shadow: 0 4px 9px -5px #0000002d;
    left: 0;
    max-width: 90vw;
    
}

.nav__sub.active {
    display: block;
    background-color: #fff;
}

.sub__container {
    max-width: 800px;
    width: 66.66667vw;
    
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 3rem 2.5rem;

}

.sub__header {
    font-weight: bold;
}


.sub__list {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    padding-left: 0;
    gap: 1rem;
}


.sub__list li {
    text-decoration: none;
    list-style: none;
    border: 0;
    border-top: 1px solid var(--grey-03);
    width: 32%;

}

.sub__list>li>a {
    background-color: #fff;
    /* border-top: 1px solid var(--grey-03);
    border-bottom: 1px solid var(--grey-03); */
    width: 100%;
}

.sub__list li.hover {
    background-color: var(--grey-04);
}


@media (min-width: 576px) {
    .main__nav {
        display: block;
    }
}